<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VintageGroupCar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VintageGroupCar.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="header">
            <div>
                <img class="logo" src="Immagini/LogoGroup.png">
            </div>

            <ul class="header-ul">
                <li class="header-li">
                    <a class="nav-menu" href="#">HomePage </a>
                </li>
                <li class="header-li">
                    <a class="nav-menu" href="#">Chi Siamo? </a>
                </li>
                <li class="header-li">
                    <a class="nav-menu" href="#">Foto Raduni </a>
                </li>
                <li class="header-li">
                    <a class="nav-menu" href="#">Calendario Raduni </a>
                </li>

            </ul>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="footer-container">
            <div class="footer-logo">
                <img src="Immagini/LogoGroup.png">
            </div>
            <div class="footer-menu">
                <h3>Menù</h3>
                <ul class="footer-nav">
                    <li><a href="#">Homepage</a></li>
                    <li><a href="#">Chi Siamo</a></li>
                    <li><a href="#">Foto</a></li>
                    <li><a href="#">Calendario</a></li>
                </ul>
            </div>
            <div class="footer-contatti">
                <h3>Contattaci</h3>
                <p>Nome: Luigi Massa</p>
                <p>Numero: <a href="tel:3347860222">3347860222</a></p>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
