@model List<Raduno>

<h2>Notizie Su Gli Ultimi Raduni</h2>


<div class="raduni-container">
    @if (Model == null || !Model.Any())
    {
        <p>Nessun raduno disponibile al momento.</p>

    }
    else
    {
        <div class="raduni-container">
            @foreach (var raduno in Model)
            {
                <div class="raduno-card">
                    
                    <div class="raduno-card-containing">
                        <div>
                            <h3> @raduno.Titolo</h3>
                            <p>@raduno.Descrizione</p>
                        </div>

                    @if (raduno.Immagine != null)
                    {
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(raduno.Immagine)" alt="@raduno.Titolo" />
                    }

                </div>
                    <button class="raduno-button">Scopri di più</button>
                </div>
            }
            <button onclick="location.href='@Url.Action("Create", "Raduni")'">Crea un nuovo raduno</button>

        </div>
    }
