<div class="container d-flex flex-column align-items-center py-4 py-xl-5">
        <div class="row gy-4 row-cols-1 row-cols-md-2 w-100" style="text-align: left;">
            <div class="col order-md-first">
                <div class="card"><img class="card-img w-100 d-block" src="~/images/direttivo/vintagegroup.jpeg">
                    <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center p-4" style="margin-bottom: -88px;padding-bottom: 268px;"></div>
                </div>
            </div>
            <div class="col d-md-flex order-first justify-content-md-start align-items-md-end order-md-1">
                <div style="width: 80%;">
                    <h2>Chi siamo?</h2>
                    <p class="w-lg-50">Siamo un gruppo di pensionati che spendono i propri soldi in auto d'epoca<br/>Soprattuttto i miei genitori,mamma ti voglio bene</p>
                </div>
            </div>
            <div class="col order-md-2">
                <div class="card"></div>
                <h2>Il Direttivo</h2>
                <p class="w-lg-50">Il direttivo è composto da persone<br/>e non so cos'altro scrivere'</p>
            </div>
            <div class="col order-md-2">
                <div class="card"><img class="card-img w-100 d-block" src="~/images/direttivo/direttivo.jpeg">
                </div>
            </div>
        </div>
    </div>