.raduni-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px;
}

.raduno-card {
    background: linear-gradient(to right, green, white, red);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

    .raduno-card img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        margin-top: 10px;
    }

button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

    button:hover {
        background-color: darkred;
    }
